<div class="card">
    <div class="card-header">
      Featured
    </div>
    <div class="card-body">
        <div class="mb-3">
            <label for="txtnumero1" class="form-label">Ingrese su nombre:</label>
            <input type="text" [(ngModel)]="frmImc.nombre" class="form-control" id="txtnombre" placeholder="Ingrese un número">
          </div>
      <div class="mb-3">
        <label for="txtnumero1" class="form-label">Ingrese su peso:</label>
        <input type="text" [(ngModel)]="frmImc.peso" class="form-control" id="txtpeso" placeholder="Ingrese su peso">
      </div>
      <div class="mb-3">
        <label for="txtnumero2" class="form-label">Ingrese su talla:</label>
        <input type="text" [(ngModel)]="frmImc.talla" class="form-control" id="txttalla" placeholder="Ingrese su talla">
      </div>
      <button type="button" (click)="calcularSuma()" class="btn btn-primary">Calcular</button>
      <hr />
      @if (mostrarResultado) {
        <div class="alert alert-primary" role="alert" >
            {{frmImc.resultado}}
          </div>
      }
      <hr />
      <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">First</th>
            <th scope="col">Last</th>
            <th scope="col">Handle</th>
          </tr>
        </thead>
        <tbody>
        @for (paciente of lstPacientes; track $index) {
            <tr>
                <th scope="row">{{paciente.nombre}}</th>
                <td>{{paciente.nombre}}</td>
                <td>{{paciente.nombre}}</td>
                <td>{{paciente.nombre}}</td>
              </tr>
        }
        </tbody>
      </table>      
    </div>
  </div>
